@use "@/components/variables"

.container
  display: flex
  flex-direction: column
  height: 100dvh

.search
  @include variables.inlineButton
  margin: 0 1.6rem
  margin-bottom: 0.8rem
  padding: 1.6rem
  background-color: white

  svg
    margin-right: 0.8rem

  span
    color: variables.$grey
    font-size: variables.$font-size-m

.settings
  display: flex
  margin: 0 1.6rem
  margin-bottom: 0.8rem

  div
    @include variables.inlineButton
    padding: 0.4rem 0.8rem

  div+div
    margin-left: 0.8rem

.projectsListContainer
  overflow-y: auto
  height: 100%
  margin-top: 0.8rem

  .endOfList
    font-size: variables.$font-size-s
    margin: 1.6rem
    margin-bottom: 3.2rem

    a
      color: blue
      text-decoration: underline

.placeholder
  margin: 1.6rem
  color: #888
