@use "@/components/variables"

.card
  position: absolute

  margin: 1.6rem
  margin-top: 0
  padding: 3.2rem
  height: 100%
  box-sizing: border-box

  outline: 2px solid white

  background-size: cover
  background-image: url("/background/Background - Card.png")
  border-radius: 3.2rem

  color: white

  display: flex
  align-items: left
    // text-align: center

  background-color: white

  display: flex
  flex-direction: column

  .question
    font-size: variables.$font-size-xl
    font-family: variables.$headline-font
    line-height: 1.2

.card.firstCard
  opacity: 0
