@use "@/components/variables"

.container
  margin: 0 1.6rem
  border: 2px solid black
  border-radius: 16px
  margin-bottom: 0.8rem

  padding: 1.6rem

  height: 18rem
  display: flex
  flex-direction: column

  background-size: cover

  position: relative
  z-index: 2

  .type, .dates, .tags
    font-size: variables.$font-size-s

  .type
    @include variables.inlineButton
    padding: 0.4rem 0.8rem
    width: fit-content
    margin-bottom: 0.4rem

  .title
    font-size: variables.$font-size-l
    font-weight: 600
    line-height: 1.1

    height: 100%

  .tags
    display: flex
    margin-top: 0.4rem

    .tag
      @include variables.inlineButton
      border: 1px solid black
      font-weight: 400
      padding: 0.4rem 0.8rem

    .tag + .tag
      margin-left: 0.4rem

.container.project_1
  background-image: url("/background/Project Background - 1.png")
.container.project_2
  background-image: url("/background/Project Background - 2.png")
.container.project_3
  background-image: url("/background/Project Background - 3.png")
