
// @font-face
//   font-family: "GTPressura"
//   src: url('/fonts/GT-Pressura-Regular-Trial.otf')
//   font-weight: normal
//   font-style: normal

// @font-face
//   font-family: "GTPressura"
//   src: url('/fonts/GT-Pressura-Medium-Trial.otf')
//   font-weight: 600
//   font-style: normal

// @font-face
//   font-family: "GTPressura"
//   src: url('/fonts/GT-Pressura-Bold-Trial.otf')
//   font-weight: 800
//   font-style: normal

@font-face
  font-family: "GTPressuraExtended"
  src: url('/fonts/GT-Pressura-Extended-Medium-Trial.otf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "ABCMonumentGrotesk"
  src: url('/fonts/ABCMonumentGrotesk-Regular-Trial.otf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: "ABCMonumentGrotesk"
  src: url('/fonts/ABCMonumentGrotesk-Medium-Trial.otf')
  font-weight: 600
  font-style: normal

$primary-font: ABCMonumentGrotesk
$extended-font: GTPressuraExtended

$font-size-s: 14px
$font-size-m: 16px
$font-size-l: 24px
$font-size-xl: 32px

$blue: #A1C1EE
$green: #D2EF89
$yellow: #F4E257
$orange: #F9CF88
$pink: #FFC4CA
$light-pink: #FFD7EF

$grey: #878787

@mixin button
  font-size: $font-size-m
  // margin: 1.6rem
  padding: 1.6rem
  border: 2px solid black
  border-radius: 8px
  box-shadow: 0px 3px 0px 0px #000

  display: flex
  justify-content: center
  background-color: white

  svg
    margin-right: 1.6rem

@mixin inlineButton
  display: flex
  align-items: center
  line-height: 1
  border: 2px solid black
  border-radius: 8px

  // font-family: variables.$mono-font

  svg
    margin-right: 0.8rem
