@use "@/components/variables"

.container
  display: flex
  flex-direction: column
  height: 100dvh
  background-image: url("/background/Background - Coke Primary.png")
  background-size: cover

  color: white

.welcome
  margin: 3.2rem 1.6rem
  margin-bottom: 4.8rem

  h1
    margin-top: 0
    line-height: 1.1
    color: variables.$red

.search
  @include variables.inlineButton
  margin: 0 1.6rem
  margin-bottom: 0.8rem
  padding: 1.6rem
  background-color: black

  path
    margin-right: 0.8rem
    fill: white

  span
    color: white
    font-size: variables.$font-size-m
    // color: variables.$grey

.settings
  display: flex
  margin: 0 1.6rem
  margin-bottom: 0.8rem
  font-size: variables.$font-size-s

  path
    fill: white

  div
    @include variables.inlineButton
    padding: 0.8rem 1.6rem

  div+div
    margin-left: 0.8rem

.scrollContainer
  overflow-y: auto
  height: 100%
  margin-top: 0.8rem

.label
  display: flex
  justify-content: space-between
  margin: 3.2rem 1.6rem
  margin-bottom: 0.8rem
  align-items: flex-end

  .title
    font-size: variables.$font-size-l
  .more
    font-size: variables.$font-size-s

.placeholder
  margin: 1.6rem
  color: #888
