@use "@/components/variables"

.container
  background-size: cover

  align-items: center
  text-align: center
  line-height: 1.1
  overflow-y: hidden

  position: absolute
  z-index: 10
  top: 0

  display: flex
  flex-direction: column
  height: 100dvh
  width: 100%

  background-color: white

  .logo
    margin-top: 1.6rem

  h1
    margin: 1.6rem
    // margin-top: 3.2rem
    font-size: 6.4rem

  .splashIcon
    height: 100%
    margin-top: 1.6rem

  p
    margin: 1.6rem

  .largeDescriptor
    font-size: variables.$font-size-xl
    line-height: 1.2

  .smallDescriptor
    font-size: variables.$font-size-m
    font-weight: 400
    text-align: left
    line-height: 1.5

  .buttonContainer
    padding: 1.6rem
    padding-bottom: 6.4rem
    width: 100%
    box-sizing: border-box

  .button
    @include variables.button
    transition: color 100ms

  .button.selected
    background-color: black
    color: white

.progress

  .splashIcon
    height: unset

  .descriptor
    height: 100%
    display: flex
    flex-direction: column
    justify-content: flex-end

  .smallDescriptor
    height: unset
    margin-top: 3.2rem

.container.match
  background-image: url("/background/BG Pattern - Questionnaire Success.png")
  // h1
  //   font-size: 64px

.container.register
  background-image: url("/background/Background - Success - Register.png")

  .splashIcon
    margin-top: 3.2rem

.container.progress
  background-image: url("/background/Background - Project Reminder.png")

.container.reflections
  background-image: url("/background/Background - Success - Reflections.png")

.container
  animation: 250ms 1 forwards fadeIn

@keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1
@media screen and (max-height: 700px)
  .container
    h1
      font-size: 4.8rem

    .largeDescriptor
      font-size: variables.$font-size-l
