@use "@/components/variables"

.container

  align-items: center
  text-align: center
  line-height: 1.1
  overflow-y: hidden

  position: absolute
  z-index: 10
  top: 0

  display: flex
  flex-direction: column
  height: 100dvh
  width: 100%

  background-color: white
  background-size: cover
  background-image: url("/background/Background - Complete Cards.png")

  animation: 250ms 1 forwards fadeIn

  .logo
    margin-top: 1.6rem

  h1
    margin: 6.4rem
    font-size: 4.8rem

    color: white

  .splashIcon
    height: 100%

  .largeDescriptor
    font-size: variables.$font-size-xl
    line-height: 1.2

  .smallDescriptor
    font-size: variables.$font-size-m
    font-weight: 400
    text-align: left
    line-height: 1.5

  .buttonContainer
    padding: 1.6rem
    padding-bottom: 6.4rem
    width: 100%
    box-sizing: border-box

  .button
    @include variables.button
    transition: color 100ms
    background-color: variables.$red
    color: white

  .button.selected
    background-color: black
    color: white

.container
  animation: 250ms 1 forwards fadeIn

@keyframes fadeIn
  from
    opacity: 0

  to
    opacity: 1
@media screen and (max-height: 700px)
  .container
    h1
      font-size: 4.8rem
      margin: 3.2rem

    .largeDescriptor
      font-size: variables.$font-size-l

    .splashIcon
      margin-top: 0
      img
        width: 240px
        height: 240px
