@use "@/components/variables"

.container
  display: flex
  flex-direction: column
  height: 100dvh

  .content
    height: 100%
    overflow-y: auto

  .search
    @include variables.inlineButton
    padding: 1.6rem
    background-color: white
    margin: 1.6rem
    color: #BBB

  .labelContainer
    display: flex
    justify-content: space-between

    margin: 0 1.6rem
    margin-top: 3.2rem

.profile
  display: flex
  margin: 1.6rem
  padding: 1.6rem
  border: 2px solid black
  border-radius: 0.8rem

  background-size: cover

  img
    border: 2px solid black
    border-radius: 0.8rem

  .textInfo
    margin-left: 1.6rem
    display: flex
    flex-direction: column
    justify-content: space-between

    .name
      font-size: variables.$font-size-l

    .tags
      display: flex

    .tag
      @include variables.inlineButton
      padding: 0.4rem 0.8rem
      width: fit-content
      margin-right: 0.8rem

.profile.industry
  background-image: url("/background/Background - Industry Profile Section.png")
.profile.peer
  background-image: url("/background/Background - Peer Profile Section.png")

.header
  display: flex
  flex-direction: column
  background-image: url("/background/Background - Industry Profile.png")
  background-size: cover
  padding-bottom: 3.2rem

.topInfo
  display: flex
  margin: 1.6rem

  img
    border: 2px solid black
    border-radius: 0.8rem

  .basicInfo
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-left: 1.6rem

    .name
      font-size: variables.$font-size-l
      line-height: 1

    .role, .location
      line-height: 1
    .role
      margin-bottom: 0.4rem

.social
  margin: 0 1.6rem
  display: flex

  span
    @include variables.inlineButton
    padding: 0.4rem 0.8rem
    margin-right: 0.8rem
    box-shadow: 0px 3px 0px 0px #000

.moreInfoContainer
  height: 100%
  overflow-y: auto

  .label
    margin: 1.6rem
    margin-top: 3.2rem
    padding-bottom: 0.8rem
    border-bottom: 1px solid black
    font-size: variables.$font-size-s
    line-height: 1

  .description
    margin: 0 1.6rem
