@use "@/components/variables"

.container
  display: flex
  flex-direction: column
  height: 100dvh
  opacity: 1

.scrollContainer
  height: 100%
  position: relative
  overflow-y: auto
  background-image: url("/background/Background - Explore.png")
  background-size: cover
  background-attachment: scroll
  color: white
  padding-bottom: 9.6rem

  img
    width: 100%
    object-fit: cover
    height: 24rem

  .contentContainer
    padding: 0 1.6rem

  h1, .tags
    margin-bottom: 3.2rem

  h1
    line-height: 1.1

  .tags
    display: flex
    margin-top: 1.6rem

    .tag
      @include variables.inlineButton
      border: 1px solid white
      padding: 0.4rem 1.6rem
      line-height: 1.5

    .tag + .tag
      margin-left: 0.8rem

.buttonContainer
  // margin: 3.2rem 0
  position: fixed
  bottom: 8.4rem
  width: 100%

  .button
    @include variables.button
    background-color: variables.$red
    color: black

    transition: color 100ms

    margin: 1.6rem

    // .button.selected
    //   background-color: #C368AA
    //   color: black
