@use "@/components/variables"

.container
  display: flex
  flex-direction: column
  height: 100dvh

  color: white

.scrollContainer
  overflow-y: auto
  height: 100%
  background-image: url("/background/Background - Explore.png")
  background-size: cover
  background-attachment: scroll

  a
    color: white

.label
  display: flex
  justify-content: space-between
  margin: 3.2rem 1.6rem
  margin-bottom: 0.8rem
  align-items: flex-end

  .title
    font-size: variables.$font-size-l
  .more
    font-size: variables.$font-size-s

.placeholder
  margin: 1.6rem
  color: #888
