@use "@/components/variables"

.container
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100dvh
  position: relative
  overflow: hidden

// EYEBROW

.eyebrow
  font-weight: bold
  display: flex
  justify-content: center
  margin: 1.6rem
  margin-top: 0
  line-height: 1

  align-items: center

  .skip
    border: 2px solid black
    padding: 4px 8px
    border-radius: 8px
    box-shadow: 0px 2px 0px 0px #000
    background-color: white

// CARD

.cardContainer
  position: relative
  height: 100%
  .current
    z-index: 1

  .yes, .no, .pass
    z-index: 10

  .no
    transform: rotate(180)
    transition: none

// CARD PATHS
%hidden
  opacity: 0%
  user-select: none
  pointer-events: none

.hidden
  @extend %hidden

.swipeToRightPath, .swipeToLeftPath
  position: absolute
  @extend %hidden

// BUTTONS

.buttonsContainer
  display: flex
  justify-content: center
  margin: 1.6rem

  align-items: center

  .progress
    // margin: 0 1.6rem
    margin: 0 1.6rem

  .decisionButton
    transition: 250ms
    width: 100%
    display: flex
    align-items: center
    justify-content: center

    padding: 1.6rem 0

    border-radius: 8px
    border: 2px solid black
    transition: 125ms
    box-shadow: 0px 3px 0px 0px #000
    background-color: white

  .decisionButton.selected
    background-color: black
    color: white

  .passButton
    display: flex
    align-items: center
    justify-content: center
    width: 100%

    padding: 1.6rem 0
    margin: 0 1.6rem

// .decisionButton.hidden, .eyebrow.hidden
//   display: none

.placeholderBottom
  margin-bottom: 3.6rem

// TUTORIAL

.tutorial, .endScreen
  position: absolute
  z-index: 2
  top: 0
  left: 0
  height: 100dvh
  width: 100%

  display: flex
  flex-direction: column

.tutorial
  // background-color: 
  background: linear-gradient(#10101000, #101010E5)
  justify-content: flex-end

  // align-items: center

  .tutorialIconsContainer
    display: flex
    justify-content: space-between
    margin: 0 1.6rem

    .swipeIcon
      display: flex
      flex-direction: column
      text-align: center
      align-items: center
      color: white
      margin-bottom: 1.6rem

  .button
    @include variables.button
    margin: 1.6rem
    margin-bottom: 6.4rem
